@model EMS.Workflow.Transfer.LogActivity.EmployeeLogActivityForm

<div class="modal-header">
    <span id="spanLogActivity">Task</span>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-group form-fields">
            <form method="post" onsubmit="return false" id="frmLogActivity">
                <div class="form-horizontal">
                    <div class="form-group form-fields text-align-left">
                        <div class="col-md-4">
                            <button type="button" style="display:none" id="btnEditActivity" class="btnBlue formbtn">Edit</button>
                            &nbsp;<button type="button" style="display:none" id="btnSaveActivity" class="btnBlue formbtn">Save</button>
                            &nbsp;<button type="button" style="display:none" id="btnBackActivity" class="btnBlue formbtn">Back</button>
                        </div>
                    </div>
                    <div class="form-group form-fields text-align-left">
                        <div class="col-md-8 text-align-left list-header">
                            <label id="lblHeaderType"></label> |
                            @*<label id="lblHeaderSubType"></label> |*@
                            <label>@Model.Title</label> |
                            <label id="lblEmployeeCurrentStatus">@("" + ViewData["CurrentStatusDescription"])</label>
                        </div>
                        @*<div class="col-md-4">
                            <button type="button" style="display:none" id="btnEditActivity" class="btnBlue formbtn">Edit</button>
                            &nbsp;<button type="button" style="display:none" id="btnSaveActivity" class="btnBlue formbtn">Save</button>
                            &nbsp;<button type="button" style="display:none" id="btnBackActivity" class="btnBlue formbtn">Back</button>
                        </div>*@
                    </div>

                    <div id="divLogActivityErrorMessage" class="div-error-message"></div>
                    <input type="hidden" asp-for="@Model.ID" name="EmployeeLogActivityForm.ID" id="hdnEmployeeLogActivityID" />
                    <input type="hidden" asp-for="@Model.IsWithAssignment" name="EmployeeLogActivityForm.IsWithAssignment" id="hdnIsWithAssignment" />
                    <input type="hidden" asp-for="@Model.IsWithPassFail" name="EmployeeLogActivityForm.IsWithPassFail" id="hdnIsWithPassFail" />

                    <div class="white-block">
                        <div class="col-label block-title">
                            <label class="control-label">Details</label>
                        </div>

                        @if ((ViewData["EmployeeName"] + "") != "")
                        {
                            <div class="form-group form-fields">
                                <div class="col-md-3 col-label">
                                    <label class="control-label block-label"> Employee Name</label>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label block-label">@(ViewData["EmployeeName"] + "")</label>
                                </div>
                            </div>
                        }

                        <div class="form-group form-fields">
                            <div class="col-md-3 col-label">
                                <label class="control-label block-label" for="ddlType"> <span class="reqField">* </span>Task Type</label>
                            </div>
                            <div class="col-md-4">
                                <select asp-for="@Model.Type" name="EmployeeLogActivityForm.Type" asp-items="@((List<SelectListItem>)ViewData["TypeSelectList"])" id="ddlType" class="form-control required-field" title="Type" readonly>
                                    <option value="">- Select an item -</option>
                                </select>
                            </div>
                        </div>

                        @*<div class="form-group form-fields">
            <div class="col-md-3 col-label">
                <label class="control-label block-label" for="ddlSubType"> <span class="reqField">* </span>Sub-Type</label>
            </div>
            <div class="col-md-4">
                <select asp-for="@Model.SubType" name="EmployeeLogActivityForm.SubType" asp-items="@((List<SelectListItem>)ViewData["SubTypeSelectList"])" id="ddlSubType" class="form-control required-field" title="Sub-Type" readonly>
                    <option value="">- Select an item -</option>
                </select>
            </div>
        </div>*@

                        <div class="form-group form-fields">
                            <div class="col-md-3 col-label">
                                <label class="control-label block-label" for="txtTitle"> <span class="reqField">* </span>Title</label>
                            </div>
                            <div class="col-md-4">
                                <input asp-for="@Model.Title" name="EmployeeLogActivityForm.Title" id="txtTitle" class="form-control required-field" title="Title" maxlength="100" readonly>
                            </div>
                        </div>
                        <div class="form-group form-fields">
                            <div class="col-md-3 col-label">
                                <label class="control-label block-label" for="txtDescription">Description</label>
                            </div>
                            <div class="col-md-4">
                                <textarea rows="3" cols="10" wrap="hard" asp-for="@Model.Description" name="EmployeeLogActivityForm.Description" id="txtDescription" class="form-control" maxlength="255" title="Description" readonly></textarea>
                            </div>
                        </div>

                        <div class="form-group form-fields">
                            <div class="col-md-3 col-label">
                                <label class="control-label block-label" for="dpDueDate"> <span class="reqField">* </span>Due Date</label>
                            </div>
                            <div class="col-md-4">
                                <input asp-for="@Model.DueDate" type="text" name="EmployeeLogActivityForm.DueDate" id="dpDueDate" class="form-control required-field" title="Due Date" readonly />
                            </div>
                        </div>

                        <div class="form-group form-fields">
                            <div class="col-md-3 col-label">
                                <label class="control-label block-label" for="ddlStatus"> <span class="unreqField">* </span>Status</label>
                            </div>
                            <div class="col-md-4">
                                <select name="EmployeeLogActivityForm.Status" asp-items="@((List<SelectListItem>)ViewData["StatusSelectList"])" id="ddlStatus" class="form-control" title="Status" readonly>
                                    <option value="">- Select an item -</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group form-fields">
                            <div class="col-md-3 col-label">
                                <label class="control-label block-label" for="txtRemarks"> <span class="unreqField">* </span>Remarks</label>
                            </div>
                            <div class="col-md-4">
                                <textarea rows="3" cols="10" wrap="hard" asp-for="@Model.Remarks" name="EmployeeLogActivityForm.Remarks" id="txtRemarks" class="form-control" maxlength="255" title="Remarks" readonly></textarea>
                            </div>
                        </div>

                        <div id="divIsWithPassFail" style="display:none">
                            <div class="form-group form-fields">
                                <div class="col-md-3 col-label">
                                    <label class="control-label block-label" for="cbIsPass"> <span class="unreqField">* </span>Is Pass?</label>
                                </div>
                                <div class="col-md-0-75">
                                    <input type="checkbox" asp-for="@Model.IsPass" name="EmployeeLogActivityForm.IsPass" id="cbIsPass" title="Is Pass?" readonly>
                                </div>
                            </div>
                        </div>

                        <div id="divIsVisible" style="display:none">
                            <div class="form-group form-fields">
                                <div class="col-md-3 col-label">
                                    <label class="control-label block-label" for="cbIsVisible"> <span class="unreqField">* </span>Visible in Employee Checklist?</label>
                                </div>
                                <div class="col-md-0-75">
                                    <input type="checkbox" asp-for="@Model.IsVisible" name="EmployeeLogActivityForm.IsVisible" id="cbIsVisible" title="Visible in Employee Checklist?" readonly>
                                </div>
                            </div>
                        </div>

                        <div id="divAssignUser" style="display:none">
                            <div class="form-group form-fields">
                                <div class="col-md-3 col-label">
                                    <label class="control-label block-label" for="cbIsAssignToSelf"> <span class="unreqField">* </span>Assign to self?</label>
                                </div>
                                <div class="col-md-0-75">
                                    <input type="checkbox" asp-for="@Model.IsAssignToSelf" name="EmployeeLogActivityForm.IsAssignToSelf" id="cbIsAssignToSelf" title="Assign to self?" readonly>
                                </div>
                            </div>

                            <div class="form-group form-fields">
                                <div class="col-md-3 col-label">
                                    <label class="control-label block-label" for="txtAssignedUser"> <span class="unreqField">* </span>Assigned User</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="search" placeholder="Search.." asp-for="@Model.AssignedUser" id="txtAssignedUser" class="form-control" title="Assigned User" maxlength="255" readonly>
                                    <input type="hidden" asp-for="@Model.AssignedUserID" name="EmployeeLogActivityForm.AssignedUserID" id="hdnAssignedUserID" />
                                </div>
                            </div>

                            <div class="form-group form-fields">
                                <div class="col-md-3 col-label">
                                    <label class="control-label block-label" for="txtDescription"> <span class="unreqField">* </span>Org Group</label>
                                </div>
                                <div class="col-md-4">
                                    @*<select asp-for="@Model.AssignedOrgGroupID" name="EmployeeLogActivityForm.AssignedOrgGroupID" asp-items="@((List<SelectListItem>)ViewData["OrgGroupSelectList"])" id="ddlAssignedOrgGroup" class="form-control" title="Org Group" readonly>
                                        <option value="">- Select an item -</option>
                                    </select>*@
                                    <input type="search" placeholder="Search.." asp-for="@Model.OrgGroupDescription" id="txtAssignedOrgGroup" class="form-control" title="Org Group" maxlength="300" readonly>
                                    <input type="hidden" id="hdnAssignedOrgGroup" class="OrgGroupDynamicFields" asp-for="@Model.AssignedOrgGroupID" name="EmployeeLogActivityForm.AssignedOrgGroupID" >
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="white-block">

                        <div class="tab">
                            <button class="tablinks" onclick="return objEMSCommonJS.ChangeTab(this,'tabHistory', '#divLogActivityModal')">
                                <span class="control-label">History</span>
                            </button>
                            <button class="tablinks" onclick="return objEMSCommonJS.ChangeTab(this,'tabComment', '#divLogActivityModal')">
                                <span class="control-label">Comment</span>
                            </button>
                            <button class="tablinks" onclick="return objEMSCommonJS.ChangeTab(this,'tabAttachment', '#divLogActivityModal')">
                                <span class="control-label">Attachment</span>
                            </button>
                        </div>

                        <partial name="~/Pages/LogActivity/CommonForms/_EmployeeCommentSection.cshtml" />
                        <partial name="~/Pages/LogActivity/CommonForms/_EmployeeAttachmentSection.cshtml" />

                        <div class="tabcontent" id="tabHistory">
                            <div class="ViewList">
                                <table id="tblLogActivityStatusHistoryList"></table>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
</div>
